* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: large;
    line-height: 1.2;
}

body {
    position: relative;
    top: 10vh;
    background-color: #222;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

nav{
    background-color: #5cbc5f;
    height: 7vh;
    width: 70%;
    text-align: center;
}

nav h1{
    color: #fff;
    line-height: 7vh;
    font-size: calc(2vh + 1.5vw);
    font-weight: 500;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.container{
    width: 70%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    min-height: 55vh;
}


.input_div{
    width: 70%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.input_div .form{
    line-height: 2;
}

.input_div .form label{
    margin-left: 3vw;
    font-size: calc(0.9vh + 0.8vw);
}

.input_div .form input{
    /* margin-right: 1vw; */
    width: 15%;
}

.input_div .form,.output_div .form{
    min-height: 40vh;
    border: 1px solid;
    padding: 1rem;
    margin: auto;
    height: 100%;
    width: 85%;
}

.input_div h1,.output_div h1{
    margin-bottom: 30px;
    text-align: center;
    font-size: calc(1vh + 1vw);
}

#add_btn,#remove_btn{
    margin: 2vh 0;
    border-radius: 5px;
    padding: calc(0.5vh + 0.5vw);
    background-color: #5cbc5f;
    color: #fff;
    border: none;
    cursor: pointer;
}

.output_div{
    width: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.form h3{
    font-size: calc(1vh + 0.9vw);
}

#calc_btn{
    margin-right: 5px;
    margin-top: 2vh;
    border-radius: 5px;
    padding: calc(0.1vh + 0.5vw);
    background-color: #5cbc5f;
    color: #fff;
    border: none;
    cursor: pointer;
}

.manual{
    color: #fff;
    margin-top: 5vh;
    border: 1px solid #fff;
    padding: 10px;
}